body {
    margin: 0;
    font-family: sans-serif;
}

h6{
    margin:5px 15px 0 15px
}

h3{
    margin:0 15px 15px 15px;
}

.contents{
    max-width: 1200px;
    margin:0 auto;
    padding: 0 20px;
}

.header{
    display: flex;
   /* max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;*/
    gap:20px;       /*20px分の余白*/
    margin-bottom: 10px;

    align-items: stretch;
}

.title-left{
    width:240px;
    background-color: #a1e9f2;
    color: rgb(7, 18, 88);
    padding: 10px 15px;

    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.title-right{
    flex:1;
    background-color: #a1e9f2;
    color: rgb(7, 18, 88);
    padding: 10px 15px;

    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

/* 全体を横並び */
.container {
    display: flex;
    /*max-width: 1200px;  /*横幅制限*/
    /*margin: auto;       /*中央寄せ*/
    /*padding: 10px 20px;    /*左右余白*/
    /*align-items: flex-start;*/
    gap :20px;
}

/* 左メニュー */
.sidebar {
    flex:3;
    min-width: 140px;
    max-width: 240px;
    background-color: white;
    color: rgb(7, 18, 88);
    /*height: 100vh; /* 画面いっぱい */
    padding: 0 15px;

    position : fixed;   /*位置固定*/

     ul {
    list-style: none;
    padding: 0;
    margin:0;}

    li {
    padding: 8px;
    border-bottom: 1px solid #bbe0f9;
    cursor: pointer;
    font-size: 12px;}

     li:hover {
    background-color: #bbe0f9;}

    a{
        text-decoration:none;
        color:inherit;
    }
}

/* メインエリア */
.content {
    flex: 7;
    padding: 0 0 0 30px
}

.content p{
    margin-top: 0;
}

 .content p .large{
    font-size: 150%;
    font-weight: bold;
    }

.content h2{
    flex:1;
    background-color: #a1e9f2;
    color: rgb(7, 18, 88);
    padding: 10px 15px;
    height: 20px;

    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

/*.content img {
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
}*/

.lesson1{
    display: flex;
    list-style: none;
    gap:10px;

    align-items: flex-end;/*下揃え*/

    li:nth-child(1){
    flex:7;}

    li:nth-child(2){
    flex:3;}

    img {
    width: 100%;
    height :auto;
    max-width: none;}
}

.lesson2{
    display: flex;
    list-style: none;
    gap:5px;

    align-items: flex-start;/*上揃え*/

    img {
    width: 70%;
    height :auto;
    max-width: none;}
}
.lesson3{
    display: flex;
    list-style: none;
    gap:5px;

    align-items: flex-start;/*上揃え*/

    img {
    width: 70%;
    height :auto;
    max-width: none;}
}

.lesson4{
    display: flex;
    list-style: none;
    gap:10px;

    align-items: flex-end;/*下揃え*/

    li:nth-child(1){
    flex:8;}

    li:nth-child(2){
    flex:2;}

    img {
    width: 100%;
    height :auto;
    max-width: none;}
}

.lesson5{
    display: flex;
    list-style: none;
    gap:5px;

    align-items: flex-start;/*上揃え*/

    li:nth-child(1){
    flex:4;}

    li:nth-child(2){
    flex:6;}

    img {
    width: 100%;
    height :auto;
    max-width: none;}
}

.lesson6{
    text-align: center;

        width: 70%;
        height :auto;
        max-width: none;
}

.lesson7{
    text-align: center;
        width: 70%;
        height :auto;
        max-width: none;
}

.lesson8{
    text-align: center;
        width: 70%;
        height :auto;
        max-width: none;
}

.lesson9{
    display: flex;
    list-style: none;
    gap:5px;

    align-items: flex-start;/*上揃え*/

    li:nth-child(1){
    flex:4;}

    li:nth-child(2){
    flex:6;}

    img {
    width: 100%;
    height :auto;
    max-width: none;}
}

.lesson10{
    display: flex;
    list-style: none;
    gap:10px;

    align-items: flex-end;/*下揃え*/

    li:nth-child(1){
    flex:7;}

    li:nth-child(2){
    flex:3;}

    img {
    width: 80%;
    height :auto;
    max-width: none;}
}
.lesson11{
        text-align: center;
        width: 60%;
        height :auto;
        max-width: none;
}

.lesson12{
    display: flex;
    list-style: none;
    gap:5px;

    align-items: flex-start;/*上揃え*/

    img {
    width: 70%;
    height :auto;
    max-width: none;}
}